{% extends "base.html" %}

{% block content %}
<div class="card card-info">
    <div class="card-header">
        <h2>¡Bienvenido a OrganizeUDiet!</h2>
    </div>
    <div class="card-body">
        <p><strong>OrganizeUDiet</strong> es una base de datos en la que podrás consultar todo tipo de productos junto con su información nutricional.</p>
        <p>Pero no sólo eso, además podras generar una dieta en base a tus objetivos y datos personales, consultarla y modificarla según tus posibilidades o gustos.</p>
        <p>En el caso en el que seas un nutricionista o simplemente quieres crear tu propia dieta, tienes un apartado en el que podras seleccionar los productos que deseas.</p>
        <p>Una vez tengas tu dieta, podrás consultarla en cualquier momento o exportarla a pdf y tenerla en cualquier dispositivo.</p>
    </div>
</div>
{% endblock %}