{% extends "base.html" %}

{% block content %}

  <div class="card card-info">
    <div class="card-header">
      <h2>Listado de productos</h2>
    </div>
  {% if productos %}            
  <table id="account-details-result-table" class=" table table-bordered table-striped table-hover datatable">
    <thead>
      <div class="card-body">
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Pais</th>
      </tr>
    </thead>
    <tbody id="search-results-table-tbody">
    <!-- jinja2 --> 
      {% for producto in page_obj %}
        <tr>
          <td><a href="/producto/{{producto.id}}">{{producto.nombre|upper}}</a></td>
          <td>{{producto.marca}}</td>
          <td>{{producto.pais}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %} 
  <div class="card-footer">
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; Primera</a>
              <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
          {% endif %}
  
          <span class="current">
              Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div> 
  </div>
</div>
{% endblock %}