{% extends "base.html" %}

{% block content %}

  <div class="card card-info">
    <div class="card-header">
      <h2>Listado de productos</h2>
    </div>
    <nav class="navbar navbar-light bg-light">
      <form action="{% url 'buscar_producto' %}" method="GET">
      <input id="buscador" name="producto" type="search" placeholder="Escribe el nombre de un producto" aria-label="Search" style="width: 250px;">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </nav>
  {% if productos %}            
  <table id="account-details-result-table" class=" table table-bordered table-striped table-hover datatable">
    <thead>
      <div class="card-body">
      <tr>
        <th>Nombre</th>
        <th>Calorías</th>
        <th>Carbohidratos</th>
        <th>Grasa</th>
        <th>Proteinas</th>
        <th>
          <select name="sort_by_nutrient" class="form-control sort_by_nutrient"> 
            <option value="marca">Marca</option>
            <option value="categoria">Categoría</option>
            <option value="tienda">Tienda</option>
            <option value="pais">País</option>
            <option value="ingredientes">Ingredientes</option>
            <option value="aditivos">Aditivos</option>
            <option value="alergenos">Alérgenos</option>                                                    
            <option value="energia">Energia</option>
            <option value="grasas_saturadas">Grasas saturadas</option>
            <option value="colesterol">Colesterol</option>
            <option value="azucares">Azúcares</option>
            <option value="fibra">Fibra</option>
            <option value="sal">Sal</option>
            <option value="sodio">Sodio</option>
            <option value="calcio">calcio</option>
            <option value="hierro">Hierro</option>
            <option value="puntuacion_nova">Puntuación NOVA</option>
            <option value="puntuacion">Puntuación</option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody id="search-results-table-tbody">
    <!-- jinja2 --> 
      {% for producto in page_obj %}
        <tr>
          <td><a href="/producto/{{producto.id}}">{{producto.nombre|upper}}</a></td>
          <td>{{producto.calorias|floatformat:0}}</td>
          <td>{{producto.carbohidratos|floatformat:0}}</td>
          <td>{{producto.grasa|floatformat:0}}</td>
          <td>{{producto.proteinas|floatformat:0}}</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="card-footer">
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; Primera</a>
              <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
          {% endif %}
  
          <span class="current">
              Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
          {% endif %}
      </span>
    </div>
  </div> 
  {% else %}
  <div class="card-body">
    <h4>Actualmente no hay ningún producto registrado en la web.</h4>
  </div>
  {% endif %} 
  
  </div>
</div>
{% endblock %}