{% extends "index.html" %}

{% block content %}

  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">Listado de productos</h3>
    </div>
  {% if productos %}            
  <table class="table table-white table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Calorias</th>
        <th>Hidratos</th>
        <th>Grasa</th>
        <th>Proteinas</th>
        {% if user.is_staff %}
          <th>Modificar</th>
          <th>Eliminar</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    <!-- jinja2 --> 
      {% for i in productos %}
        <tr>
          <td>{{i.nombre}}</td>
          <td>{{i.marca}}</td>
          <td>{{i.calorias}}</td>
          <td>{{i.hidratos}}</td>
          <td>{{i.grasa}}</td>
          <td>{{i.proteinas}}</td>
          {% if user.is_staff %}
            <td><form action="{% url 'modificar_producto' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="titulo_modificar" value="{{ i.name }}">
                <input type="submit" class="btn-table" value="Update"></form>
            </td>
            <td><form action="{% url 'borrar_producto' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="titulo_borrar" value="{{ i.name }}">
                <input type="submit" class="btn-table" value="Delete"></form>
            </td>
            {% endif %}
        </tr>
      {% endfor %}
    {% else %}
    <div class="info">
      <p>Actualmente no hay productos en la web. Intente añadir uno.</p>
    </div>
    {% endif %}
    </tbody>
  </table>
{% endblock %}
