{% extends "base.html" %}

{% block content %}

<div class="card card-info">
    <div class="card-header">
      <h2>Detalles producto</h2>
    </div>
    <div class="card-body">
        <form>
        <div class="row">
            <h2>{{ producto.nombre }}</h2>
        </div>
        <div class="row">
            {% if producto.image_url %}
                <img src="{{producto.image_url}}" class="rounded float-right" width="250" height="250">
            {% endif %}
        </div>
        <div class="row">
            {% if producto.marca %}
            <div class="form-group col-sm">
                <label>Marca</label> 
                <input id="marca" name="marca" placeholder="Marca" class="form-control here" type="text" value="{{ producto.marca }}" readonly>
            </div>
            {% endif %}
            {% if producto.tienda %}
            <div class="form-group col-sm">
                <label>Tienda</label> 
                <input id="tienda" name="tienda" placeholder="Tienda" class="form-control here" required="required" type="text" value="{{ producto.tienda }}" readonly>
            </div>
            {% endif %}
            {% if producto.pais %}
            <div class="form-group col-sm">
                <label>Pais</label> 
                <input id="pais" name="pais" placeholder="Pais" class="form-control here" required="required" type="text" value="{{ producto.pais }}" readonly>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if producto.alergenos %}
            <div class="col">
                <label>Alérgenos</label> 
                <input id="alergenos" name="alergenos" class="form-control here" required="required" type="text" value="{{ producto.alergenos }}" readonly>
            </div>
            {% endif %}
            {% if producto.aditivos %}
            <div class="col">
                <label>Aditivos</label> 
                <input id="aditivos" name="aditivos" placeholder="Aditivos" class="form-control here" required="required" type="text" value="{{ producto.aditivos }}" readonly>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if producto.calorias %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Calorias</label> 
                <input id="calorias" name="calorias" placeholder="Calorias" class="form-control here" required="required" type="text" value="{{producto.calorias|floatformat:1}}" readonly>
            </div>
            {% endif %}
            {% if producto.energia %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Energía</label> 
                <input id="energia" name="energia" placeholder="Energía" class="form-control here" required="required" type="text" value="{{ producto.energia|floatformat:1 }}" readonly>
            </div>
            {% endif %}
            {% if producto.grasa %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Grasa</label> 
                <input id="grasa" name="grasa" placeholder="Grasa" class="form-control here" required="required" type="text" value="{{ producto.grasa|floatformat:1 }}" readonly>
            </div>
            {% endif %}
            {% if producto.grasas_saturadas %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Grasas saturadas</label> 
                <input id="grasas_saturadas" name="grasas_saturadas" placeholder="Grasas saturadas" class="form-control here" required="required" type="text" value="{{ producto.grasas_saturadas|floatformat:1 }}" readonly>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if producto.colesterol %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Colesterol</label> 
                <input id="colesterol" name="colesterol" placeholder="Colesterol" class="form-control here" required="required" type="text" value="{{ producto.colesterol|floatformat:1 }}" readonly>
            </div>
            {% endif %}
            {% if producto.carbohidratos %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Carbohidratos</label> 
                <input id="carbohidratos" name="carbohidratos" placeholder="Carbohidratos" class="form-control here" required="required" type="text" value="{{ producto.carbohidratos|floatformat:1 }}" readonly>
            </div>
            {% endif %}
            {% if producto.azucares %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Azúcares</label> 
                <input id="azucares" name="azucares" placeholder="azucares" class="form-control here" required="required" type="text" value="{{ producto.azucares|floatformat:1 }}" readonly>
            </div>
            {% endif %}
            {% if producto.fibra %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Fibra</label> 
                <input id="fibra" name="fibra" placeholder="fibra" class="form-control here" required="required" type="text" value="{{ producto.fibra|floatformat:1 }}" readonly>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if producto.proteinas %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Proteinas</label> 
                <input id="proteinas" name="proteinas" placeholder="proteinas" class="form-control here" required="required" type="text" value="{{ producto.proteinas|floatformat:1 }}" readonly>
            </div>
            {% endif %}
            {% if producto.sal %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Sal</label> 
                <input id="sal" name="sal" placeholder="sal" class="form-control here" required="required" type="text" value="{{ producto.sal|floatformat:1 }}" readonly>
            </div>
            {% endif %}
            {% if producto.sodio %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Sodio</label> 
                <input id="sodio" name="sodio" placeholder="sodio" class="form-control here" required="required" type="text" value="{{ producto.sodio|floatformat:1 }}" readonly>
            </div>
            {% endif %}
            {% if producto.calcio %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Calcio</label> 
                <input id="calcio" name="calcio" placeholder="calcio" class="form-control here" required="required" type="text" value="{{ producto.calcio|floatformat:1 }}" readonly>
            </div>
            {% endif %}
        </div>
        <div class="row">
            {% if producto.hierro %}
                <div class="form-group col-md-3 col-sm-6">
                    <label>Hierro</label> 
                    <input id="hierro" name="hierro" placeholder="hierro" class="form-control here" required="required" type="text" value="{{ producto.hierro|floatformat:1 }}" readonly>
                </div>
            }
            {% endif %}
            {% if producto.puntuacion_nova %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Puntuación Nova</label> 
                <input id="puntuacion_nova" name="puntuacion_nova" placeholder="puntuacion_nova" class="form-control here" required="required" type="text" value="{{ producto.puntuacion_nova|floatformat:0 }}" readonly>
            </div>
            {% endif %}
            {% if producto.puntuacion %}
            <div class="form-group col-md-3 col-sm-6">
                <label>Puntuación</label> 
                <input id="puntuacion" name="puntuacion" placeholder="puntuacion" class="form-control here" required="required" type="text" value="{{ producto.puntuacion }}" readonly>
            </div>
            {% endif %}
        </div>
        </form>
    </div>
    {% if user.is_staff %}
    <div class="card-body">
    <div class="row">
    <div class="col-1">
        <form action="{% url 'modificar_producto' producto.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="producto_modificar" value="{{ producto.nombre }}">
            <input type="submit" class="btn btn-danger" value="Modificar">
        </form>
    </div>
    <div class="col-md-auto">
        <button class="btn btn-danger" data-toggle="modal" data-target="#fm-modal-grid">Eliminar</button>
        <div class="modal fade" id="fm-modal-grid" tabindex="-1"
            role="dialog" aria-labelledBy="fm-modal-grid"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>  
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <p>¿Estas seguro que deseas eliminar el producto {{producto.nombre}}?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'borrar_producto' producto.id %}" class="btn btn-danger">Sí, estoy seguro.</a>
                        <button class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {% endif %}
    <div class="card-footer">
        <div class="col-2">
          <a class="btn btn-default" href=" {% url 'index' %} ">Cancelar</a>
        </div>
    </div>
</div>
{% endblock %}
