{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Buscar producto:</h2>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="buscar">
    <input type="hidden" name="titulo_buscarcar" value="{{ producto.nombre }}">
</form>
{% endblock %}
