<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>OrganizeUDiet</title>
        {% load static %}

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style_sheet.css' %}">

        <!-- Fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

        <!-- JS -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'js/change_css.js' %}"></script>
    </head>
    <body>
      <header>
          {% load static %}
          <h1 class="site-heading text-center d-nome d-lg-block">
            <span class="site-heading-lower">OrganizeUDiet</span>
          </h1>
      </header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
          <a class="navbar-brand" href="{% url 'lista_productos' %}">Listado de productos</a>
          <a class="navbar-brand" href="{% url 'buscar_producto' %}">Buscar producto</a>
          {% if login %}
          <a class="navbar-brand" href="{% url 'producto' %}">Añadir producto</a>
            {% if user.is_staff %}
            <a class="navbar-brand" href="{% url 'modificar_producto' %}">Modificar producto</a>
            <a class="navbar-brand" href="{% url 'borrar_producto' %}">Eliminar producto</a>
            {% endif %}
          {% endif %}
          <nav class="navbar navbar-light bg-dark">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
              <input type="hidden" name="titulo_buscar" value="{{ producto.nombre }}">
            </form>
          </nav>
        </div>
      </nav>

      <div id="cuerpo">
            <main>
                {% block content %}
                {% endblock %}
            </main>
            <aside>
              {% if login %}
                {% if user.is_staff %}
                  <h3>Bienvenido, {{ request.user.username }} (STAFF)</h3>
                  <p><a href="{% url 'logout' %}">Logout</a></p>
                {% else %}
                   <h3>Bienvenido, {{request.user.username}}</h3>
                   <p><a href="{% url 'logout' %}">Logout</a></p>
                {% endif %}
              {% else %}
                   <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
                   <p><a href="{% url 'registro' %}">Registro</a></p>
              {% endif %}
              <button onclick="modo_noche()">Modo Claro/Oscuro</button>
            </aside>
        </div>
        <footer class="footer text-faded text-center bg-dark">
          <div class="container">
            <p class="m-0 mbt1">&copy; OrganizeUDiet</p>
            <p>Jose Miguel Pelegrina Pelegrina</p>
            <p>Trabajo Fin de Grado</p>
            <div id="copyright">
              <p><a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License v3.0</a></p>
            </div>
          </div>
        </footer>

        <!-- Bootstrap -->
        <script src=""></script>
        <script src=""></script>
    </body>
</html>
