{% extends "index.html" %}

{% block content %}
<table>
    <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Marca</th>
        <th>Calorias</th>
        <th>Hidratos</th>
        <th>Grasa</th>
        <th>Proteinas</th>
        {% if user.is_staff %}
        <th>Modificar</th>
        <th>Eliminar</th>
        {% endif %}
    </tr>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.imagen }}</td>
        <td>{{ producto.marca }}</td>
        <td>{{ producto.calorias }}</td>
        <td>{{ producto.hidratos }}</td>
        <td>{{ producto.grasa }}</td>
        <td>{{ producto.proteinas }}</td>
        {% if user.is_staff %}
        <td><form action="{% url 'modificar_producto' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="titulo_modificar" value="{{ producto.id }}">
            <input type="submit" class="btn-table" value="Update"></form>
        </td>
        <td><form action="{% url 'borrar_producto' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="titulo_borrar" value="{{ producto.nombre }}">
            <input type="submit" class="btn-table" value="Delete"></form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
